
<% if  (movie.result.length > 0) {%>
<h1 class="movies-category">Wyniki wyszukiwania</h1>
<div class="movies">
  <% movie.result.forEach((movie) =>{%>
  <figure class="movies__item">
    <a href="movie/<%= movie.id %>" class="movies__item-link">
      <img
        class="movies__poster"
        src="https://image.tmdb.org/t/p/w342<%= movie.poster_path %>"
      />
      <figcaption class="movies__title">
        <%= movie.title %>
      </figcaption>
    </a>
  </figure>
  <% });%>
</div>

<% } else {%>

<h1 class="movies-category">Nic nie znaleziono :(</h1>
<div class="not-found">
  <div>
    <h2>Spróbuj wyszukać:</h2>
    <ul>
      <li><a class="link" href="<%= path %>?q=toy+story">Toy Story</a></li>
      <li><a class="link" href="<%= path %>?q=lego">Lego</a></li>
      <li><a class="link" href="<%= path %>?q=epoka+lodowcowa">Epoka Lodowcowa</a></li>
      <li><a class="link" href="<%= path %>?q=król+Lew">Król Lew</a></li>
      <li><a class="link" href="<%= path %>?q=zaplątani">Zaplątani</a></li>
    </ul>
  </div>
  <div>
    <img src="/img/not-found.jpg">
  </div>


</div>

<% } %>
